In [1]:
import sys
import os

thesis_path = "/" + os.path.join(
    *os.getcwd().split(os.path.sep)[:-1])
sys.path.append(thesis_path)

In [2]:
from evaluations.performance_01 import get_per_sample_metrics
metrics_df = get_per_sample_metrics()

In [3]:
metrics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10897200 entries, 0 to 10897199
Data columns (total 15 columns):
 #   Column       Dtype
---  ------       -----
 0   seed         object
 1   model        object
 2   checkpoint   object
 3   dataset      object
 4   doc_id       object
 5   targets      int64
 6   entity_type  object
 7   tp           int64
 8   fn           int64
 9   fp           int64
 10  error_type1  int64
 11  error_type2  int64
 12  error_type3  int64
 13  error_type4  int64
 14  error_type5  int64
dtypes: int64(9), object(6)
memory usage: 1.2+ GB

In [4]:
metrics_df.describe()

,targets,tp,fn,fp,error_type1,error_type2,error_type3,error_type4,error_type5
count,1.089720e+07,1.089720e+07,1.089720e+07,1.089720e+07,1.089720e+07,1.089720e+07,1.089720e+07,1.089720e+07,1.089720e+07
mean,2.161282e-01,1.905645e-01,2.556363e-02,1.679248e-02,5.740924e-03,1.422549e-02,4.029292e-03,1.301343e-03,5.957035e-03
std,5.983969e-01,5.668767e-01,1.740430e-01,1.412545e-01,8.191047e-02,1.271610e-01,6.762273e-02,3.704992e-02,8.482927e-02
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.200000e+01,1.200000e+01,8.000000e+00,7.000000e+00,7.000000e+00,8.000000e+00,6.000000e+00,3.000000e+00,5.000000e+00

# Model performance
## Macro-F1 + 5 Error Types avg+std

In [5]:
# Macro - F1
from evaluations.performance_01 import get_f1

get_f1(metrics_df, "last", "lowner_test")

                    model checkpoint      dataset         f1
                                                        mean       std
4                  t5_asp       last  lowner_test  85.481521  0.163211
10             t5_asp_gaz       last  lowner_test  87.308047  0.018759
16        t5_asp_gaz_sent       last  lowner_test  88.132432  0.093228
22       t5_asp_lownergaz       last  lowner_test  87.478254  2.444407
28  t5_asp_lownergaz_sent       last  lowner_test  89.600103  0.029477
34            t5_asp_sent       last  lowner_test  86.724683  0.218033

In [6]:
# 5 Error types
from evaluations.performance_01 import get_error_types
get_error_types(metrics_df, "last", "lowner_test")

                    model checkpoint      dataset  error_type1              \
                                                          mean         std
4                  t5_asp       last  lowner_test  1652.666667   71.514567
10             t5_asp_gaz       last  lowner_test  1610.333333   33.231511
16        t5_asp_gaz_sent       last  lowner_test  1699.666667   16.010413
22       t5_asp_lownergaz       last  lowner_test  1519.000000  148.704405
28  t5_asp_lownergaz_sent       last  lowner_test  1577.000000  111.139552
34            t5_asp_sent       last  lowner_test  1473.000000   85.281886

    error_type2               error_type3            error_type4             \
           mean          std         mean        std        mean        std
4   3078.000000    60.307545  1595.000000   4.582576  492.000000  16.370706
10  3083.666667    36.828431  1102.000000  26.888659  379.000000  11.000000
16  2618.333333    20.744477  1006.000000   4.358899  374.333333   5.859465
22  4099.000000  2043.395948   908.666667  27.970222  242.666667  13.051181
28  2622.333333   121.705930   855.666667   6.506407  234.333333   1.527525
34  3334.000000   134.357731  1235.000000  16.822604  402.000000   7.000000

    error_type5
           mean        std
4   1840.666667  56.518434
10  1662.666667   5.507571
16  1610.000000  27.622455
22  1321.333333  26.312228
28  1277.666667  38.083242
34  1655.333333  12.858201